@import url('https://fonts.googleapis.com/css?family=Merriweather:900|Noto+Sans:400');
html {
    /* font-size: 87.5%; */
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #37474f;
    background: #fafafa;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* #section1 {
    background: #fafafa;
} */
#cover {
    /* background: #fafafa; */
    position: absolute;
}
#title-row {
    height: 95vh;
}
#title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
	color: #37474f;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:active, .btn-outline-secondary.active {
    color: #fff;
    background-color: #607d8b;
    border-color: #607d8b;
    box-shadow: none;
}
.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #607d8b;
  border-color: #607d8b;
  /* box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); */
  box-shadow: none;
}
.lead, #subtitle {
    color: #607d8b;
}
.alert-light {
    color: #37474f;
    background-color: #ffffff;
    border-color: #fefefe;
}
#maxline {
    color: #fdbb2d;
}
#minline {
    color: #22c1c3;
}

/* SVG Element styles */
svg {
    shape-rendering: auto;
}
svg .maxChart {
    stroke: #fdbb2d;
    stroke-width: 2px;
}
svg .minChart {
    stroke: #22c1c3;
    stroke-width: 2px;
}